FACILITATOR_URL=http://localhost:3002
NETWORK=solana-localnet
ADDRESS=G6cpSs5WBwYRQTSTuAR4oq9yTGj3Ntbh7YwFW3K3UQjk
TOKEN_MINT_ADDRESS=DYbhQ6Q5jCGR5Bb7EgKXSTYb1aE6T1itc4Nr67wiGVsE
TOKEN_DECIMALS=6
TOKEN_NAME=USDC
